body {
    background-color: #f8f8f8;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    margin-top:0;
    background:#819A32;
    height: 50px;
}
.menu a {
    text-decoration: none;
    background:#819A32;
    color:#fff;
    padding:0px 15px;
    font-family: arial;
    line-height:50px;
    display: block;
    border-right: 1px solid #677B27;
    -moz-transition: all 0.3s 0.01s ease;
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}
.menu a:hover {
    background:#D43737;
}
.menu li {
    float:left;
    position:relative;
}
.menu li > ul {
    position:absolute;
    top:50px;
    display:none;
}
.menu li:hover > ul {
    display:block;
    width:250px;
}
.menu li:hover > ul > li {
    float:none;
}
.wrapper__desc h2 {
    color: black;
    font-size: 18px;
    font-weight: bolder;
    background: #eaeaea;
}
.desc p {
color: #707070;
font-size: 14px;
font-style: italic;
line-height: 16px;
}
.feature {
	display: block;
}
.feature li {
	display: list-item;
	letter-spacing: -1ex;
	margin: 5px 0;
    color: #484343;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    list-style-image: url(img/checkmark_29376.png);
}
.feature-left {
	margin-right: -30%;
	width: 69%;
	vertical-align: top;
	overflow: hidden;
	display: inline-block;
	letter-spacing: normal;
}
.feature-left:after {
	content: '';
	display: inline-block;
	width: 100%;
	margin: 0 -99% 0 3px;
	vertical-align: baseline;
	border-bottom: 1px dashed #888;
}
.feature-right {
	display: inline-block;
	letter-spacing: normal;
	padding-left: 3px;
	margin-left: 30%;
	width: 30%;
	vertical-align: bottom;
}
input[type=text] {
    width:150px;
    height:20px;
    color: #888;
    font-size: 16px;
    font-style: italic;
    line-height: 16px;
 }
 input[type=password] {
    width:150px;
    height:20px;
    color: #888;
    font-size: 16px;
    font-style: italic;
    line-height: 16px;
 }
 input[type=email] {
    width:150px;
    height:20px;
    color: #888;
    font-size: 16px;
    font-style: italic;
    line-height: 16px;
 }
 select[name] {
    width:200px;
    height:25px;
    color: #888;
    font-size: 16px;
    font-style: italic;
    line-height: 16px;
 }
 .frame img {
    border: 3px solid #ccc;
    background: #eee; 
    padding: 5px 5px;
}
